#area_pagination{
    text-align: center;
}
.btn-secondary {
    color: #fff;
    background-color: #b18ecb;
    border-color: #b18ecb;
}
tr.pendiente {
    font-weight: bold;
}
tr.leido {
    /*font-weight: bold;*/
}
.btn-secondary:hover{
    color: #fff;
    background-color: #976db7;
    border-color: #976db7;
}
 /*Tabla adaptable*/
/*http://codepen.io/anon/pen/QwPVNW*/
  .botondebusquedahome{
    margin-top: 20px;
  }
 @media screen and (max-width: 767px) {
   

   #inlinegroup #num_resultados, #inlinegroup label[for=num_resultados]{ 
      margin-top: 0px;
   }
   .center-xs{
     text-align: center !important;
     margin: 0 auto !important;
   }
   .inlinegroup{
      display:inline-flex;
  }
   .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    text-align: center !important;
}
   #logo {
      height: 32px !important;
    }
    table.cssresponsive {
      border: 0;
    }
   /**/
    table.cssresponsive thead th:not(.thbotones) {
      display: none;
    }
    table.cssresponsive{
      margin-bottom:80px;
    }
    table.cssresponsive .thbotones{
      position:fixed;
      bottom:50px;
      background-color: transparent;
      border-color: transparent;
    }
    table.cssresponsive .thbotones[data-label="Nuevo"]{
      right:0px;
    }
    table.cssresponsive .thbotones[data-label="XLS"]{
      left:0px;
    }
   /**/

  

    table.cssresponsive tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table.cssresponsive td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table.cssresponsive td:last-child {
      border-bottom: 0;
    }
    table.cssresponsive td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
      max-width:100px;
      text-align:left;
    }
   table.cssresponsive td:empty::after
    {
        content: ".";
        color:transparent;
    }
  }
/*Fin Tabla adaptable*/
:root {
    --main-bg-color: coral;
    --morado: #7c73e6;
    --verde: #4a9400;
    --verde: #40a853;
    --verde-claro: #99c272;
    --azul: #084c92;
    --azul: #4285f4;
    --cabecera_seguimiento: #c8eaa7;
    --hover_seguimiento: #dff0d8;
    --naranja: #d48b05;
    --azul-claro: #795548;
    --cafehome: #795548;
    --cafehome: #e49d04;
    --naranja2: #b97508;
  /**/
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --light2: #ddd;
}

#div1 {
    /*background-color: var(--main-bg-color); */
}
body {
    color: #1a1b1c;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    /*color: var(--azul);*/
    color: #000000;
    font-weight: bold;
}
.marginleftmenos30{
    margin-left: -30px;
    text-align:left;
    }
ul.navbar-nav>li>a>.glyphicon:not(.color-badges){
    display: block !important;
    text-align: center !important;
    font-size: xx-large !important;
    color: var(--verde) !important;
}
ul.navbar-nav>li>a>.glyphicon:hover{
    color: var(--verde-claro) !important;
}
.button_mas{
background-color:#196c4b !important;
}
.button_menos{
background-color:#bf5329 !important;
}
.labelrechaza, .labelaprueba{
    display:block;
}
.replica{
    display:none !important;
}
.rechaza:checked + .replica{
    display:block !important;
}
.list-group-item {
    border: 1px solid #3f7940 !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th ::not(.sinbordertop) {
    border-top: 1px solid #808080  !important;
}
.sinbordertop, .sinbordertop *{
    border-top: 0px solid transparent  !important;
}
.breadcrumb {
    background-color: #ffffff !important;
}
h5.card-title{
    min-height: 35px;
    max-height: 35px;
    text-align: center;
}
h6.card-title div{
    min-height: 35px;
    max-height: 35px;
    text-align: center;
}
.ficha_asigt_home{
   width: 28rem !important;
  display:inline-block !important;
}
/*
.navbar-default {
    background-color: #fff !important;
    border-color: transparent !important;
}
*/

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}